# project setup
pip==22.2.2
pylint==2.15.3

# used libraries
plotly==5.10.0
flask==2.2.2
flask_assets
click~=8.1.3
wheel~=0.37.1
Jinja2~=3.1.2
dill~=0.3.5.1
numpy~=1.23.3
MarkupSafe~=2.1.1
Werkzeug~=2.2.2
itsdangerous~=2.1.2
isort~=5.10.1
tomli~=2.0.1
setuptools==65.4.1
tenacity==8.1.0
pandas==1.5.0
astroid~=2.12.10
tomlkit~=0.11.4
mccabe~=0.7.0
platformdirs~=2.5.2
wrapt~=1.14.1
zipp==3.9.0
python-dotenv==0.21.0
flask_sqlalchemy==3.0.0
SQLAlchemy==1.4.41