{% extends "base.html" %}

{% block menu_categories %}active{% endblock %}

{% block content_header %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">{{ category.title }}</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/categories">Categories</a></li>
                    <li class="breadcrumb-item active">{{ category.title }}</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Group</h3>
            </div>

            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Property</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{ category.title }}</td>
                    </tr>
                    <tr>
                        <td>Simulations</td>
                        <td>
                            <ul>
                            {% for key, simulation_item in category.simulations.items() %}
                                <li>
                                    <div class="nav-sidebar nav-pills">
                                        <a href="/simulation/{{ key }}" class="nav-link p-0">
                                            <i class="nav-icon fas fa-chart-bar"></i>&nbsp;<p>{{ simulation_item.name }}</p>
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Situations</td>
                        <td>
                            <ul>
                            {% for key, situation_item in category.situations.items() %}
                                <li>
                                    <div class="nav-sidebar nav-pills">
                                        <a href="/situation/{{ key }}" class="nav-link p-0">
                                            <i class="nav-icon fas fa-bolt"></i>&nbsp;<p>{{ situation_item.name }}</p>
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Policies</td>
                        <td>
                            <ul>
                            {% for key, policy_item in category.policies.items() %}
                                <li>
                                    <div class="nav-sidebar nav-pills">
                                        <a href="/simulation/{{ key }}" class="nav-link p-0">
                                            <i class="nav-icon fas fa-sliders-h"></i>&nbsp;<p>{{ policy_item.name }}</p>
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}