{% extends "base.html" %}

{% block menu_groups %}active{% endblock %}

{% block content_header %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"><i class="nav-icon fas fa-users"></i>&nbsp;{{ group.name }}</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/groups">Groups</a></li>
                    <li class="breadcrumb-item active">{{ group.name }}</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Group</h3>
            </div>

            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Property</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{ group.name }}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{ group.description }}</td>
                    </tr>
                    <tr>
                        <td>Category</td>
                        <td>{{ group.category.name }}</td>
                    </tr>
                    <tr>
                        <td>Mood Inputs</td>
                        <td>
                            <ul>
                            {% for input in group.mood.input_list %}
                                <li>
                                    <div class="nav-sidebar nav-pills">
                                        {% if input.base_type.value == 0 %}
                                            <a href="/simulation/{{ input.key }}" class="nav-link p-0">
                                                <i class="nav-icon fas fa-chart-bar"></i>&nbsp;<p>{{ input.name }} ({{ input.value|pretty_delta_percent }})</p>
                                            </a>
                                        {% elif input.base_type.value == 1 %}
                                            <a href="/situation/{{ input.key }}" class="nav-link p-0">
                                                <i class="nav-icon fas fa-bolt"></i>&nbsp;<p>{{ input.name }} ({{ input.value|pretty_delta_percent }})</p>
                                            </a>
                                        {% elif input.base_type.value == 2 %}
                                            <a href="/policy/{{ input.key }}" class="nav-link p-0">
                                                <i class="nav-icon fas fa-sliders-h"></i>&nbsp;<p>{{ input.name }} ({{ input.value|pretty_delta_percent }})</p>
                                            </a>
                                        {% else %}
                                            Not handled input: {{ input.key }} ({{ input.base_type.value }})
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Mood Value</td>
                        <td>
                            <div class="progress progress-xs">
                                <div class="progress-bar {{ group.prop_mood }}" style="width: {{ (group.mood.value * 100)|int }}%"></div>
                            </div>
                            {{ (group.mood.value * 100)|int }}%
                        </td>
                    </tr>
                    <tr>
                        <td>Mood History</td>
                        <td>
                            {% for history_item in group.mood.history %}
                                {{ "%.2f"|format(history_item) }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>Freq Inputs</td>
                        <td>
                            <ul>
                            {% for input in group.freq.input_list %}
                                <li>
                                    <div class="nav-sidebar nav-pills">
                                        {% if input.base_type.value == 0 %}
                                            <a href="/simulation/{{ input.key }}" class="nav-link p-0">
                                                <i class="nav-icon fas fa-chart-bar"></i>&nbsp;<p>{{ input.name }}  ({{ input.value|pretty_delta_percent }})</p>
                                            </a>
                                        {% elif input.base_type.value == 1 %}
                                            <a href="/situation/{{ input.key }}" class="nav-link p-0">
                                                <i class="nav-icon fas fa-bolt"></i>&nbsp;<p>{{ input.name }}  ({{ input.value|pretty_delta_percent }})</p>
                                            </a>
                                        {% elif input.base_type.value == 2 %}
                                            <a href="/policy/{{ input.key }}" class="nav-link p-0">
                                                <i class="nav-icon fas fa-sliders-h"></i>&nbsp;<p>{{ input.name }} ({{ input.value|pretty_delta_percent }})</p>
                                            </a>
                                        {% else %}
                                            Not handled input: {{ input.key }} ({{ input.base_type.value }})
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Freq Value</td>
                        <td>
                            <div class="progress progress-xs">
                                <div class="progress-bar {{ group.prop_freq }}" style="width: {{ (group.freq.value * 100)|int }}%"></div>
                            </div>
                            {{ (group.freq.value * 100)|int }}%
                        </td>
                    </tr>
                    <tr>
                        <td>Freq History</td>
                        <td>
                            {% for history_item in group.freq.history %}
                                {{ "%.2f"|format(history_item) }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
