{% extends "base.html" %}

{% block menu_policies %}active{% endblock %}

{% block content_header %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"><i class="nav-icon fas fa-solid fa-sliders-h"></i>&nbsp;{{ policy.name }}</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/policies">Policies</a></li>
                    <li class="breadcrumb-item active">{{ policy.name }}</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Policy</h3>
            </div>

            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Property</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{ policy.name }}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{ policy.description }}</td>
                    </tr>
                    <tr>
                        <td>Category</td>
                        <td>
                            <div class="nav-sidebar nav-pills">
                                <a href="/category/{{ policy.category.name }}" class="nav-link p-0">
                                    <i class="nav-icon fas fa-list"></i>&nbsp;<p>{{ policy.category.title }}</p>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Value</td>
                        <td>
                            {# {{ (policy.value * 100)|int }}% #}
                            <form method="post">
                                <input type="hidden" name="action" value="change">
                                <div class="form-group">
                                    <label>Policy Value</label>
                                    <select name="slider" class="form-control">
                                        {% for slider_value in policy.slider %}
                                            {% if policy.slider_value == slider_value %}
                                                <option selected>{{ slider_value }}</option>
                                            {% else %}
                                                <option>{{ slider_value }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <br />
                                    <button type="submit" class="btn btn-primary">Change</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>Effects</td>
                        <td>
                            <ul>
                            {% for effect in policy.effect_list %}
                                <li>
                                    <div class="nav-sidebar nav-pills">
                                        {% if effect.base_type.value == 0 %}
                                            <a href="/simulation/{{ effect.key }}" class="nav-link p-0">
                                                <i class="nav-icon fas fa-chart-bar"></i>&nbsp;<p>{{ effect.name }} ({{ effect.value|pretty_delta_percent }})</p>
                                            </a>
                                        {% elif effect.base_type.value == 1 %}
                                            <a href="/situation/{{ effect.key }}" class="nav-link p-0">
                                                <i class="nav-icon fas fa-bolt"></i>&nbsp;<p>{{ effect.name }} ({{ effect.value|pretty_delta_percent }})</p>
                                            </a>
                                        {% elif effect.base_type.value == 3 %}
                                            <a href="/group/{{ effect.key }}" class="nav-link p-0">
                                                <i class="nav-icon fas fa-users"></i>&nbsp;<p>{{ effect.name }} ({{ effect.value|pretty_delta_percent }})</p>
                                            </a>
                                        {% else %}
                                            Not handled effect: {{ effect.key }} ({{ effect.base_type.value }})
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>History</td>
                        <td>
                            {% for history_item in policy.history %}
                                {{ "%.2f"|format(history_item) }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                            <input type="hidden" id="fname" name="fname" onchange="cb(this.value)">
                            <div id='chart' class='chart'></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}