{% extends "base.html" %}

{% block menu_simulations %}active{% endblock %}

{% block content_header %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Simulations</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <!--<li class="breadcrumb-item"><a href="#">Home</a></li>-->
                    <li class="breadcrumb-item active">Simulations</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <!--<div class="card-header">
                <h3 class="card-title">Simulations</h3>
            </div>-->

            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Value</th>
                        <th style="width: 40px">Min</th>
                        <th style="width: 40px">Max</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, simulation in simulations.items() %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                <div class="nav-sidebar nav-pills">
                                    <a href="/simulation/{{ key }}" class="nav-link">
                                        <i class="nav-icon fas fa-people-carry"></i>&nbsp;<p>{{ simulation.name }}</p>
                                    </a>
                                </div>
                            </td>
                            <td>{{ simulation.category.name }}</td>
                            <td>
                                <div class="progress progress-xs">
                                    <div class="progress-bar {{ simulation.prop }}" style="width: {{ (simulation.value * 100)|int }}%"></div>
                                </div>
                                {{ (simulation.value * 100)|int }}%
                            </td>
                            <td>{{ (simulation.min_value * 100)|int }}%</td>
                            <td>{{ (simulation.max_value * 100)|int }}%</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
{% endblock %}