{% extends "base.html" %}

{% block menu_situations %}active{% endblock %}

{% block content_header %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"><i class="nav-icon fas fa-bolt"></i>&nbsp;Situations</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <!--<li class="breadcrumb-item"><a href="#">Home</a></li>-->
                    <li class="breadcrumb-item active">Situations</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <!--<div class="card-header">
                <h3 class="card-title">Simulations</h3>
            </div>-->

            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Active</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, situation in situations.items() %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                <div class="nav-sidebar nav-pills">
                                    <a href="/situation/{{ key }}" class="nav-link p-0">
                                        <i class="nav-icon fas fa-bolt"></i>&nbsp;<p>{{ situation.name }}</p>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="nav-sidebar nav-pills">
                                    <a href="/category/{{ situation.category.name }}" class="nav-link p-0">
                                        <i class="nav-icon fas fa-list"></i>&nbsp;<p>{{ situation.category.title }}</p>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="progress progress-xs">
                                    <div class="progress-bar {{ situation.prop }}" style="width: 100%"></div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
{% endblock %}